@import 'theme';
@import 'mixins';

.blog {
  max-width: $max-width;
  margin: 0 auto 4rem;
}

.post {
  max-width: $max-width;
  margin: 2rem auto 4rem;
  color: $text;

  hr {
    margin: 2rem auto 0.875rem auto;
    width: 40%;
    height: 1px;
    background-color: $weak-blue;
    border: none;
  }

  img {
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
    max-width: 100%;

    & + pre {
      margin-top: 1rem;
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  blockquote,
  pre,
  code {
    background-color: $code-bg;
    color: #fff;
    /* 1.5em provides good vertical spacing ( = 150% of the font-size) */
    margin-bottom: 1.5em;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 1.25;

    & + p {
      margin-top: 1.5rem;
    }

  }

  > ol,
  > ul {
    margin-top: 1rem;
    padding-left: 1.5rem;

    li {
      position: relative;

      &::marker {
        font-size: 0;
      }

      &::before {
        position: absolute;
        left: -16px;
        top: 0;
        content: '・';
      }
    }

    & + * {
      margin-top: 1.5rem;
    }

    ul,
    ol {
      margin-top: 0.5rem;
      margin-left: 1rem;
    }

    li + li {
      margin-top: .5rem;
    }

    & + p {
      margin-top: 1.5rem;
    }
  }

  @include isMobile() {
    padding: 0 1rem;

    h2 {
      margin-bottom: 1rem;
    }

    img {
      min-width: 50%;
      height: auto !important;
    }
  }

  .asset-wrapper {
    margin: 0;
    width: 100% !important;

    & + * {
      margin-top: 1rem;
    }
  }
}

.post-meta {
  margin-top: 0.875rem;
  display: flex;
  justify-content: space-between;

  li {
    &::before {
      display: none;
    }
  }
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
