@import 'theme';

.categories {
  ul {
    text-indent: 0;
  }

  li {
    display: inline-block;
    color: $light-blue;

    & + li {
      margin-left: 0.25rem;
    }

    &:not(:last-child)::after {
      content: ',';
    }
  }
}
