@import 'theme';

.contact {
  max-width: $max-width;
  margin: 6rem auto 8rem;

  h1 {
    text-align: center;
    font-weight: normal;
  }
}

.links {
  display: block;
  margin: 1.5rem auto;
  max-width: 500px;
  text-align: center;
}

.links a {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  display: inline-block;
  transition: opacity 200ms ease;

  &.twitter {
    > svg {
      fill: #00a2f9;
    }
  }

  &.github {
    > svg {
      fill: #211f1f;
    }
  }

  &.linkedin {
    > svg {
      fill: #2867b2;
    }
  }

  &.facebook {
    > svg {
      fill: #1a78f2;
    }
  }
}

.links a:hover {
  opacity: 0.6;
}
