<section class="profile-wrap">
  <div class="profile">
    <h2 class="profile-heading">Profile</h2>
    <div class="profile-contents">
      <div class="profile-avatar">
        <img src="/images/avatar.jpg" alt="shotaCoffee">
      </div>
      <div class="profile-description">
        <h2>shotaCoffee</h2>
        <p>Frontend Engineer</p>
        <p>Webアプリの開発、PdMなどしています。</p>
        <ul class="profile-sns">
          <li>
            <a href="https://twitter.com/shota_coffee" rel="noopener" target="_blank">
              <img src="/images/logo-twitter.svg" alt="Twitter" />
            </a>
          </li>
          <li>
            <a href="https://github.com/shotaCoffee" rel="noopener" target="_blank">
              <img src="/images/logo-github.svg" alt="GitHub" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>